.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 40px auto;
}

.buttonItem {
  padding: 8px 16px;
  border-radius: 2px;
  background-color: rgb(63, 81, 181);
  transition: all 250ms ease-in-out;
  text-align: center;
  display: inline-block;
  color: rgb(255, 255, 255);
  border: 0px;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  min-width: 180px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}

.buttonItem:hover {
  background-color: rgb(48, 63, 159);
}
